@page "/"

<PageTitle>Home</PageTitle>

<h1>EcoMonitor</h1>
<p>Transformando pequenas acoes em grande impacto ambiental.</p>

<div style="display:flex; gap:16px">
<EcoStatus Titulo="Reciclagem de Plastico" PesoAcao="1" Meta="5" />
<EcoStatus Titulo="Descarte de Eletrônicos" PesoAcao="5" Meta="25" />
<EcoStatus Titulo="Plântio de Árvores" PesoAcao="10" Meta="50" />
</div>
